<style>
    .form_container{
        display:flex;
        flex-direction: column;
        width:200px;
        margin:0 auto;
    }
</style>

<div class='form_container'>
    <h3>create pizza</h3>
    <form action='/admin/pizzas/create/status' method='post'>
        <label>pizza name: </label>
        <input type='text' name='pizza_name'>
        <label>recipe: </label>
        <textarea name='recipe' rows='8'></textarea>
        <label>price: </label>
        <input type='number' name='price'>
        <input type='submit'>
    </form>
</div>