body{
    margin:0px;
    padding:0px;
    font-family: 'Poppins', sans-serif;
}
.container{
    display:flex;
    flex-direction:column;
    min-height:100vh;
}

header{
    background:lightgrey;
    height:10vh;
    display:flex;
}

.logo{
    display:flex;
    flex:1; 
    border:1px solid orange;
}

.logo img{
    height:100%;
    margin:auto;
}

nav{
    width:60vw;
    margin:0px auto;
    display:flex;
    justify-content:space-evenly;
    align-items:center;
    flex:4;
}

.navlink{
    text-decoration:none;
}

.main_part{
    border:1px solid blue;
    width:80vw;
    margin:0px auto;
}

.block_name{
    border:1px solid red;
    text-align:center;
}

.pizza_item{
    border:1px solid purple;
    display:flex;
    flex-direction:column;
    width:200px;
    height:350px;
    margin:50px;
    padding:10px;   
    position:relative;
}

.img_item{
    height:200px;
    width:100%;
}

.pizza_block{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
}

.pizza_item p{
    flex-wrap:wrap;
    margin:5px 0px;
}
.item_name{
    font-size:1em;
}
.recipe{
    font-size:0.7em;
    color:grey;
}
.price{
    font-size:1em;
    position:absolute;
    bottom:10px;
}


footer{
    background:lightgrey;
    margin-top:auto;
    height:10vh;
    font-size:10px;
    text-align:center;
}