<!DOCTYPE html>
<html>
    <head>
        <title>admin</title>
        <link rel='stylesheet' href='/css/style.css'>
        <link rel='stylesheet' href='/css/pizza.css'>
        <link rel='stylesheet' href='/css/order.css'>
        <link href='https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap' rel='stylesheet'>
        {{!-- <meta name="viewport" content="width=device-width, initial-scale=1"> --}}
    </head>
    
    <body>

        <div class="container">
                <header style='background:blueviolet'>
                    <a href='/admin/pizzas' class='navlink'>pizzas</a>
                    <a href='/admin/orders' class='navlink'>orders</a>
                    <a href='/admin/users' class='navlink'>users</a>
                    <a href='/home' class='navlink'>usermode</a>
                </header>

                <div class='main_part'>
                    {{{body}}}
                </div>

                <footer style='background:blueviolet'>
                    <p>boring text about the copyrights and privacy policy</p>
                    <p>made in by bedroom</p>
                </footer>
        </div>
    
    </body>
</html>