<!DOCTYPE html>
<html>
    <head>
        <title>pizzahouse</title>
        <link rel='stylesheet' href='/css/style.css'>
        <link rel='stylesheet' href='/css/pizza.css'>
        <link rel='stylesheet' href='/css/order.css'>
        <link href='https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap' rel='stylesheet'>
        {{!-- <meta name="viewport" content="width=device-width, initial-scale=1"> --}}
    </head>
    
    <body>

        <div class="container">
                <header>
                    <a href='/home' class='navlink'>pizza</a>
                    <a href='/home/order' class='navlink'>basket</a>
                    <a href='/home/my_orders' class='navlink'>my orders</a>
                    <a href='/auth' class='navlink'>login</a>
                    <a href='/admin/pizzas' class='navlink'>adminmode</a>
                </header>

                <div class='main_part'>
                    {{{body}}}
                </div>

                <footer>
                    <p>boring text about the copyrights and privacy policy</p>
                    <p>made in by bedroom</p>
                </footer>
        </div>
    
    </body>
</html>