<style>
    .auth_container{
        display:flex;
        flex-direction: column;
        width:200px;
        margin:0 auto;
    }
</style>

<div class='auth_container'>
    <h3>login</h3>
    <form action='auth/status' method='post'>
        <label>username: </label>
        <input type='text' name='username'>
        <label>password: </label>
        <input type='password' name='password'>
        <input type='submit' class='submitbt'>
    </form>
</div>