<html>
    <head>
        <title>Home</title>
        <link rel="stylesheet" href="style.css"> 
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script type="text/javascript" src="pizza_items.json"></script>
        <script type="text/javascript" src="script.js" defer></script>
    </head>
    <body>
        <div class="container">
            <header>

                <nav>
                    <a href="#" class="navlink">menu</a>
                    <a href="#" class="navlink">order now</a>
                </nav>

            </header>
            <div class='main_part'>

                <div class='block_name'>
                    <p>pizza</p>
                </div>

                <div class='pizza_block'>
            
                </div>
           
           
            </div>
            <footer>
                <p>boring text about the copyrights and privacy policy</p>
                <p>made in by bedroom</p>
            </footer>
        </div>
    </body>
</html>