{{#each pizzas}}
<div class='pizza_item'>
    <img src={{sourse}} class='img_item'>
    <div class='item_description'>
        <p class='item_name'>{{name}}</p>
        <p class='recipe'>{{recipe}}</p>
        <p class='price'>{{price}} tg</p>
        <button class='button_choose'>Choose</button>
    </div>
</div>
{{#each}}