<div class='block_name'>
    <p>pizzas</p>
</div>

<div class='pizza_container'>
    {{#each pizzas}}
        <div class='pizza_card'>
            <p class='item_name'>{{this.name}}</p>
            <p class='price'>{{this.price}}</p>
            <button class='button_choose'>choose</button>
        </div>
    {{/each}}
</div>