.pizza_container{
    display:flex;
    flex-wrap:wrap;
}

.pizza_card{
    border:3px solid orange;
    border-radius: 10px;
    height:250px;
    width:220px;
    padding:20px;
    margin:10px;
    position:relative;
}

.recipe{
    font-size:0.7em;
    color:grey;
}

.price{
    position:absolute;
    bottom:20px;
    right:20px;
}

.to_basket{
    position:absolute;
    bottom:10px;
    right:20px;
    text-decoration: none;
    color:green;
}

.pizza_id{
    font-size:0.7em;
}

.pizza_delete{
    position:absolute;
    bottom:10px;
    left: 20px;
    text-decoration: none;
    color:red;
}

.add_pizza{
    text-decoration: none;
    color:green;
    margin:10px;
}