.pizza_container{
    border:1px solid yellow;
    display:flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
}

.pizza_card{
    border:1px solid blue;
    height:150px;
    width:200px;
}

.block_name{
    text-align:center;
}

.inbasket{
    color:green;
    border:1px solid green;
}