<div class='pizza_container'>
    {{#each pizzas}}
        <div class='pizza_card'>
            <h3 class='pizza_name'>{{this.pizza_name}}</h3>
            <p class='recipe'>{{this.recipe}}</p>
            <h4 class='price'>{{this.price}}</h4>
            <a class='to_basket' href='/home/basket/?pizza_id={{this._id}}'>add to basket</a>
        </div>
    {{/each}}
</div>