.block_name{
    text-align:center;
}

.pizza_container{
    border:1px solid yellow;
    display:flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
}

.pizza_card{
    border:1px solid blue;
    height:150px;
    width:200px;
    position:relative;
}

 .button_choose{
    width:80px;
    height:30px;
    position:absolute;
    right:10px;
    bottom:10px;
    color:orange;
    border:1px solid orange;
    border-radius:5px;
    background-color:white;
    font-weight:bold;
}

.inbasket{
    color:green;
    border:1px solid green;
}

.price{
    font-size:1em;
    position:absolute;
    bottom:10px;
}